<!DOCTYPE html>
<html>
    <head>
        <title>insta485</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>
            <a href = "/">Insta485</a> 
        </h1>
        <p> 
            <a href = "/accounts/create/">Create Account</a>
        </p>
        <form action="/accounts/?target=/" method="post" enctype="multipart/form-data">
            <input type="text" name="username" required/>
            <input type="password" name="password" required/>
            <input type="submit" value="login"/>
            <input type="hidden" name="operation" value="login"/>
        </form>
    </body>
</html>